@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100 transition-colors duration-300;
}
.social-link {
  @apply w-10 h-10 flex items-center justify-center rounded-full
  border border-gray-400 text-gray-300
  transition duration-300;
}
